{% extends 'base.html' %}

{% block title %} Disquera | Artistas {% endblock%}
{% block contenido %}
<h1 class="text-center">Artistas</h1>
  <div>
    
  </div>
      <div class="table responsive">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Foto</th>
              <th>Nombre <br>Artistico</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Disquera</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
              <td>ID</td>
              <td>Foto</td>
              <td>Nombre <br>Artistico</td>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Disquera</td>
              <td>Estado</td>
              <td>Acciones</td>
          </tbody>
        </table>
      </div>
{% endblock%}