{% extends "base.html" %}
{% block title%} Disquera | Artistas {% endblock%} 
   
   
{% block contenido%} 
   <h1 class="text-center">Artistas</h1>
    <div class="mb-2">
        <a href="{% url 'artista-add' %}" class="btn btn-primary" role="button"><i class="bi bi-plus-circle"></i> Registrar Artista</a>
    </div>
   <div class="table-responsive">
        <table class="table align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>ID</th>
                    <th>No.Documento</th>
                    <th>TipoDocumento</th>
                    <th>Foto</th>
                    <th>Nombre <br> Artístico</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Email</th>
                    <th>Disquera</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            <thead>
            <tbody class="text-center">
            {% for a in artistas %}
            <tr>

                <td>{{a.id}}</td>
                <td>{{a.noDocumento}}</td>
                <td>{{a.tipoDocumento}}</td>
                <td><img src="{{ a.fotoArtista.url }}" width="100px" heith="100"></td>
                <td>{{a.nombreArtista}}</td>
                <td>{{a.nombreArtista}}</td>
                <td>{{a.apellidosArtista}}</td>
                <td>{{a.fNacimiento}}</td>
                <td>{{a.emailArtista}}</td>
                <td>{{a.iddisquerafk.nombredisquera}}</td>
                <td>{{a.estadoArtista}}</td>
                <td>{{a.acciones}}</td>
                
                <td>
                    <a href= {% url 'edit-artista' %} class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                    |
                    <a href="" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
            {% endfor%}
            </tbody>

        </table>
   </div>
   
{% endblock%} 