{% extends "base.html" %}
{% block title%} disquera | disquera {% endblock%} 
   
   
{% block contenido%} 
   <h1 class="text-center">disquera</h1>
    <div class="mb-2">
        <a href="{% url 'disquera-add' %}" class="btn btn-primary" role="button"><i class="bi bi-plus-circle"></i> Registrar Disquera</a>
    </div>
   <div class="table-responsive">
        <table class="table align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>IdDisquera</th>
                    <th>nitDisquera</th>
                    <th>NombreDisquera</th>
                    <th>TelefonoDisquera</th>
                    <th>DireccionDisquera</th>
                    <th>EstadoDisquera</th>
                    <th>Acciones</th>
                </tr>
            <thead>
            <tbody class="text-center">
            {% for d in disqueras %}

            <tr>
                <td>{{d.id}}</td>
                <td>{{d.nitdisquera}}</td>
                <td>{{d.nombredisquera}}</td>
                <td>{{d.telefonodisquera}}</td>
                <td>{{d.direcciondisquera}}</td>
                <td>{{d.estadodisquera}}</td>
                <td>{{d.acciones}}</td>
                <td>
                    <a href= {% url 'edit-disquera' %} class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                    |
                    <a href={% url 'elim-disquera' %} class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
            {% endfor%}
            </tbody>

        </table>
   </div>
   
{% endblock%} 